{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": "./app",
      "alias": {
        "components": "./app/components",
        "images": "./app/images",
        "containers": "./app/containers",
        "actions": "./app/actions",
        "reducers": "./app/reducers"
      }
    }]
  ]
}
